@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadLayoutComponentPartial")

<body>
    <div class="wrapper">

        @await Component.InvokeAsync("_SidebarLayoutComponentPartial")

        @await Component.InvokeAsync("_MainPanelLayoutComponentPartial")

        @RenderBody()

        @await Component.InvokeAsync("_FooterLayoutComponentPartial")

    </div>

    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")

</body>
</html>
