@model ExtraViewModel

@{
    ViewData["Title"] = "CreateExtra";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Extra Operation</div>
                    </div>
                    <div class="card-body">
                        <form class="form" asp-controller="Extra" asp-action="CreateExtra" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="Name">Extra Name</label>
                                <br />
                                <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="Enter extra name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="Price">Price</label>
                                <br />
                                <input asp-for="Price" type="number" class="form-control" id="Price" placeholder="Enter extra price" step="0.01" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div data-mdb-input-init class="form-group form-outline mb-4">
                                <label asp-for="PhotoUrl" class="form-label">ADD PHOTO</label>
                                <input asp-for="PhotoUrl" class="form-control form-control-lg" type="file" id="ImageUrl" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create Extra" class="btn btn-success btn-block" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}